@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	
}
a{
	text-decoration: none;
}
ul{
    list-style: none;
}


.container{
	min-height: 100%;
	background: #f2f4f7;
	width: 1080px;
	margin: 0 auto;
	margin-top: 30px;
	
	display: grid;
	grid-template-columns: 160px 50px;
	grid-template-rows: repeat(4, minmax(50px,auto));
	grid-auto-flow: dense;
	
	justify-content:strech;
	
	grid-gap:5px;

	grid-template-areas:
	"gnb gnb gnb gnb"
	"header header header header"
	"side main main main"
	"footer footer footer footer"
	
}

.item:first-child{
	/*gnb*/
	height:50px;
	background-color: orange;
	grid-area: gnb;
	position:relative
}

.item:nth-child(2){
	height:100px;
	padding-left:10px;
	padding-top:10px;
	background-color:aqua;
	grid-area: header;
}
.item:nth-child(3){
	height:600px;
	background-color:ivory;
	grid-area: side;
}
.item:nth-child(4){
	grid-area: main;
}

.item:nth-child(4) h1{
	background-color: #6AAFE6;
	padding:10px;
}

.item:last-child{
	height:100px;
	background-color:green;
	grid-area:footer;
}

/*로고영역*/
.logo_area{
	width: 25%;
    height: 100%;
    float:left;
}

/*<a>태그 색이 변경되지 않도록*/
.admin_navi_wrap li a:link {color: black; text-decoration: none;}
.admin_navi_wrap li a:visited {color: black;text-decoration: none;}
.admin_navi_wrap li a:active {color: black; text-decoration: none;}
.admin_navi_wrap li a:hover {color: aqua; text-decoration: underline;}

.admin_navi_wrap li{
	margin-bottom: 5px;
	padding:27px;
	background-color:gray;
	text-align: center;
	/* list-style:none; */
}

/*작가등록) 입력란*/
.form_section_content select{    
    text-align: center;
    width: 98%;
    height: 35px;
    font-size: 20px;
    margin-bottom:40px;	
}
/*작가등록) 입력란*/
.form_section_content input{    
    text-align: center;
    width: 98%;
    height: 35px;
    font-size: 20px;
    margin-bottom:40px;	
}


/*작가등록) 입력란 경고 태그*/
.form_section_content span{    
    display: none;
    padding-top: 10px;
    text-align: center;
    color: #e05757;
    font-weight: 300;    
}

/* 버튼 영역 */
.btn_section{
    text-align: center;
    margin: 80px 0;
}

.btn_section button{
	background-color: ivory;
	min-width: 180px;
	font-size: 25px;
	font-weight: 600;
    line-height: 40px;
}
